# Python virtual environment
twitter_env/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
src/logs/*

# Database
*.db
*.sqlite3

# Temporary files
*.tmp

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover 